modules = ["vue-node-20", "nodejs-20", "web"]
hidden = [".config", "package-lock.json"]
run = "npm run dev"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]
deploymentTarget = "autoscale"
ignorePorts = false

[[ports]]
localPort = 5173
externalPort = 80
