body {
    font: 16px Helvetica, Arial, sans-serif;
    color: #2a2a2a;
    background: url("images/main.jpg");
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto; 
}

h2 h3 {
    font-size: 24px
}

.usLang {
    width: 30px;
}

nav {
    margin: 25px 0;
    z-index: 100;
    border-radius: 12px;
    background: #ebebec;
    padding: 4px
}

nav > div {
    background: url(images/nav.jpg) 0 0 repeat-x #55b7c8;
    border-radius: 12px 8px 8px 12px;
    padding: 8px
}

.separator {
    clear: left;
    background: url(images/border-1.gif) 0 bottom repeat-x;
}

.imgborder {border:#ebebec 4px solid; border-radius:12px}

.clientes {
    text-align: left;
    padding: 30px 26px 40px 26px;
}

.pics {
    max-width: 220px;
    margin-left: 15px;
}

.formulario {
    text-align: left;
    padding: 30px 26px 40px 26px;
}


.content > div {
    text-align: left;
    float: left;
    width: 310px;
    margin: 10px;
}

footer {
    width: 100%;
    padding: 20px 0;
    background-color: #000;
    color: #fff
}