@tailwind base;
@tailwind components;
@tailwind utilities;

.responsive-video {
  width: 100%; /* Full width on smaller screens */
  height: auto; /* Maintain aspect ratio */
}

@media (min-width: 1024px) {
  .responsive-video {
    width: 80%; /* Smaller width on larger screens */
    max-width: 1000px; /* Optional: limit maximum width */
  }
}
